<h5>Click "Yes" to Continue Shopping & "No" for Checkout</h5>

<a asp-area="" asp-controller="Home" asp-action="Index" target="_blank" class="btn btn-success btn-sm">Yes</a>
<a asp-area="" asp-controller="Order" asp-action="Checkout" target="_blank" class="btn btn-danger btn-sm">No</a>