<h4>Your order has been received.</h4>
<h4>Thanks for visiting us.</h4>
<hr />
<p>Click 'Yes' to Continue Shopping & 'No' to Logout</p>
<a asp-area="" asp-controller="Home" asp-action="Index" target="_blank" class="btn btn-success btn-sm">Yes</a>
<a asp-area="" asp-controller="Home" asp-action="Logout" target="_blank" class="btn btn-danger btn-sm">No</a>