@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = "~/Areas/Identity/Pages/_AuthenticationLayout.cshtml";
}

<p class="login-card-description">@ViewData["Title"]</p>
<p><a href="/Identity/Account/Login">Click here</a> to go back to login page </p>